
extends layout
block body
  #page
    p 预想在这里收集设计网页相关的各种资源
    p
      a(href='/design/links.md') 网页设计
    p
      a(href='/resouces/links.md') 设计素材
    p
      a(href='/blogs/links.md') 博客资源
    p
      a(href='/js/links.md') JS 相关链接
    p
      a(href='/css/links.md') CSS 相关链接
    p
      a(href='/guide/links.md') 教程
    p
      a(href='/tools/links.md') 在线工具
    p
      a(href='/linux/learn.md') Learn
    p
      a(href='/git/links.md') Git 学习
    p
      a(href='/linux/links.md') Linux 相关
    p
      a(href='/nodejs/links.md') Nodejs 入门
    p
      a(href='/self/about.md') 关于页面的维护
    p
      a(href='/ideas/links.md') 实验室
