doctype 5
html
  head
    title title
    meta(charset='utf-8')
    link(rel='stylesheet',href='/_self/css/global.css')
    //- script(src='http://192.168.1.101:7777/doodle.js')
  body
    block body
    div#copyright © 2002-2012 浙江工业大学 精弘网络