!!!5
html
  head
    title jinghong
    meta(charset='utf-8')
    link(rel='stylesheet',href='/self/css/index.css')
    script(src='http://192.168.1.108:8072/doodle.js')
  body
    #page
      p 预想在这里收集设计网页相关的各种资源
      p
        a(href='/page/design/links.wl') 网页设计
      p
        a(href='/page/resouces/links.wl') 设计素材
      p
        a(href='/page/blogs/links.wl') 博客资源
      p
        a(href='/page/js/links.wl') JS 相关链接
      p
        a(href='/page/css/links.wl') CSS 相关链接
      p
        a(href='/page/guide/links.wl') 代码演示
      p
        a(href='/page/tools/links.wl') 在线工具
      p
        a(href='/page/linux/links.wl') Linux 相关
      p
        a(href='/page/self/about.wl') 关于页面的维护
      p
        a(href='/page/ideas/links.wl') 实验室
    div#copyright © 2002-2012 浙江工业大学 精弘网络