!!!5
html
  head
    title jinghong
    meta(charset='utf-8')
    link(rel='stylesheet',href='/self/css/index.css')
    script(src='http://192.168.1.117:8072/doodle.js')
  body
    #page
      p Site of jinghong front-end web team
      a(href='/page/readme.wl') readme.wl