!!!5
html
  head
    title #{title}
    meta(charset='utf-8')
    link(rel='stylesheet',href='/self/css/global.css')
    script(src='http://192.168.1.117:8072/doodle.js')
  body
    #box
      #side
        #banner
          for name in paths
            span.seperate /
            a.name(href="#{name.url}")= name.text
        #index
            for item in files
              .file
                a.filename(href='#{item.url}')= item.text
      block content
        #body this is a directory